.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-family: 'Roboto';
    font-size: 40px;
    color: #32404d;
}

.count {
    font-family: 'Roboto';
    font-size: 80px;
    color: #2e3e4e;
    margin-top: 8px;
    margin-bottom: 20px;
}

.button {
    width: 106px;
    height: 36px;
    border-width: 0px;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background-color: #7c69e9;
    margin: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

}